<div class="centered-page">

  <% if flash[:alert] %>
    <div class="alert alert-error">
      <div class="content"><%= flash[:alert] %></div>
      <button type="button" class="close-btn" onclick="this.closest('.alert').style.display='none'">×</button>
    </div>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <div class="content"><%= flash[:notice] %></div>
      <button type="button" class="close-btn" onclick="this.closest('.alert').style.display='none'">×</button>
    </div>
  <% end %>

  <%= form_with url: login_path, html: { class: "form-container" } do |form| %>
    <h2 class="form-title">Login to Created.Software</h2>
    <div class="input-group">
      <label for="email_address" class="label">Email Address:</label>
      <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "username",
        placeholder: "john@example.com",
        class: "email-input" %>
    </div>
    <div class="input-group">
      <label for="password" class="label">Password:</label>
      <%= form.password_field :password,
        required: true,
        autocomplete: "current-password",
        placeholder: "your super secret password",
        maxlength: 72,
        class: "password-input" %>
    </div>
    <div class="input-group">
      <%= form.submit "Login", class: "login-signup-btn signup-btn-color signup-btn-bottom" %>
    </div>
    <%= link_to "Forgot password?", new_password_path, class: "forgot-password-link" %>
  <% end %>
</div>
